body {
    color: chartreuse;
    background-color: bisque;
    font-family: britannic;
    text-align: center;
}

#title {
    color:navy;
    font-size: 300%;
}

#inputInterval {
    box-sizing: content-box;
}
